.choose-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.keyboards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 80px 50px;
}

.selected-container {
    background-color: rgb(221, 213, 213);
    margin-top: 85px;
    border-radius: 8px;
}

@media screen and (max-width: 688px) {
    .choose-container {
        grid-template-columns: 1fr;
    }
    .keyboards-container{
        grid-template-columns: 1fr;
    }
    .selected-container {
        margin: 0 auto;
        display: block;
        margin-left: -10px;
    }
}

